@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
/** GLOBAL CSS **/

:root {
    --container-lg-width: 80%;
    --container-md-width: 90%;
    --container-sm-width: 100%;

    --bg-primary: #151F32;
    --bg-primary-variant: #18273F;

    --text-color: #fff;
    --text-color-variant: #328AF1;

    --transition: 0.5s ease;
}

body {
    background: var(--bg-primary);
}

.txt-variant {
    color: var(--text-color-variant);
}

.txt-primary {
    color: var(--text-color);
}

.wrapper {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 1rem 10rem;
    background: var(--bg-primary-variant);
    box-shadow: 0px 20px 22px 0px rgba(0,0,0,0.1);
}

.navbar .nav-brand a{
    font-size: 2rem;
}

.navbar .nav-brand a, .navbar .nav-links a{
    color: var(--text-color);
    text-decoration: none;
    
}

.navbar .nav-links ul{
    display: flex;
    gap: 2rem;
}

.navbar .nav-links ul li{
    list-style: none;
}

.links-base {
    position: fixed;
    bottom: 0;
    background: var(--bg-primary-variant);
    height: 8rem;
    width: 100%;
}

.links-content {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 1.5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: var(--bg-primary-variant);
}

.links-icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text-color-variant);
}

.links-icon:hover {
    color: var(--text-color);
}

.content {
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
}

.active {
    color: var(--text-color);
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about-content .about-img {
    width: 100%;
    text-align: center;
}

.about-content .about-img img {
    height: 30rem;
    margin-top: 2rem;
    /* border: 2px solid var(--text-color-variant); */
    border-radius: 5rem 5rem 0 0;
}

.about-content .about-content-profile {
    width: 100%;
}

.about-content-profile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

.btn-contact {
    padding: 1rem;
    background: var(--bg-primary-variant);
    text-decoration: none;
    border-radius: 1rem;
    color: var(--text-color);
    transition: var(--transition);
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.btn-contact:hover {
    color: var(--bg-primary-variant);
    background: var(--text-color-variant);
}

.contact-content {
    height: 70vh;
    margin: 2rem auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1rem;
    width: 50rem;
    background: var(--bg-primary-variant);
    border-radius: 1rem;
    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
}

.contact-content h3 {
    color: var(--text-color-variant);
}
.contact-content::-webkit-scrollbar {
    width: 20px;
    border-radius: 0 1rem 1rem 0;
}
.contact-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.contact-content::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.validate, #textarea1 {
    color: var(--text-color-variant);
}

button[type="submit"] {
    width: 100%;
    background: var(--text-color-variant);
}

/* text animation */
.overflow-hidden {
    overflow: hidden;
   }
   
   .drop-in {
    animation: drop-in 1s ease 200ms backwards;
    
   }
   
   .drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
    font-size: 2.5rem;
   }
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }

.animate-charcter{
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
}
   
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}