.portfolio__container{
    max-width: 768px;
    text-align: center;
}

.project__button{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.portfolio__project-title {
    font-size: var(--h3-font-size);
}

.swiper {
    padding: 2rem 0!important;
}

.swiper-pagination {
    position: inherit!important;
}

.swiper-pagination-bullet {
    background-color: var(--text-color)!important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color)!important;
}