.footer {
    background-color: var(--title-color);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2.5rem;
}

.footer__title {
    color: var(--body-color);
}

.footer__list {
    display: flex;
    gap: 2rem;
    margin-bottom: var(--mb-2);
}

.footer__link {
    color: var(--body-color);
    font-size: 1.5rem;
    
}